.CityMenu {
    display: flex;
    align-content: center;
    justify-content: center;
}

.navMenu {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navMenu > li {
    width: 20%;
    border: 1px solid #337ab7;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
    .navMenu {
        flex-direction: column;
    }

    .navMenu > li {
        width: 80%;
        margin: 5px auto !important;
    }
}