.WeatherCard {
    margin-top: 30px;
}

.card {
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.cardMedia {
    width: 30%;
    height: auto;
    padding: 10px;
}

.cardContent {
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.tempTitle {
    font-size: 25px !important;
    color: #303F9F !important;
}

.tempSub {
    font-size: 20px !important;
    color: #1976D2 !important;
}

.degrees {
    color: #E65100 !important;
}

.loading-div {
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.loader {
    height: 100px;
    margin-top: 10px;
    padding-left: 80px;
}

@media only screen and (max-width: 767px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .cardMedia {
        margin: 0 auto;
        height: 130px;
    }

    .cardContent {
        margin: 0 auto;
    }
}